<html>
    <head>
    </head>
    
    <body>
        <a href="/">Home<a>
        <a href="/user/dashboard">Profile</a>
        <br />
        <a href="/login">Login</a>

        <p>
            Don't Have an Account?
            <a href="/register">Register Now</a>
        </p>

        <div>
            <a href="/products/view-all">
                <img src="" />
                <p>View All</p>
            </a>

            <a>
                <img src="#" />
                <p>Computers</p>
            </a>

            <a>
                <img src="#" />
                <p>TV</p>
            </a>

            <a>
                <img src="#" />
                <p>Appliances</p>
            </a>
        </div>
       

        
    </body>
</html>