<html>
    <head>
    </head>
    
    <body>
        <a href="/login">Login</a>
        <a href="/user/dashboard">Profile</a>

        <p>
            Don't Have an Account?
            <a href="/register">Register Now</a>
        </p>

        </div>

        
    </body>
</html>