<html>
    <head>
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    
    <body>
        <div class="container">
            <div class="col">
                <h1>Login</h1>
            </div>

            <div class="col">
                <form method="POST" action="/login" class="inputIndex">
                    <input type="text" placeholder="Username" name="usernameText" />
                    <input type="password" placeholder="Password" name="passwordText" />
                    <button>Login</button>
                </form>


            </div>
                <p>
                    Don't Have an Account?
                    <a href="/register">Register Now</a>
                </p>

        </div>
    </body>
</html>