<html>
    <head>
    </head>
    
    <body>
        <a href="/">Home<a>
        <a href="/user/dashboard">Profile</a>
        <br />
        <a href="/login">Login</a>

        <p>
            Don't Have an Account?
            <a href="/register">Register Now</a>
        </p>

                

        {{#products}}

            <li>
            
                <h3>{{title}}<h3>
                {{description}}
                {{price}}
                Rating: {{avg_rating}}/5
            
                <a href=/products/detail/{{id}}>Details</a>
                
            </li>

        {{/products}}
        </ul>

        
    </body>
</html>