<html>
    <head>
    </head>
    
    <body>
        <a href="/">Home<a>
        <a href="/user/dashboard">Profile</a>
        <br />
        <a href="/login">Login</a>

    

        <p>
            Don't Have an Account?
            <a href="/register">Register Now</a>
        </p>

        <a href="/products/category">Products</a>
        <ul>
        {{#userReviews}}

        <li>
            {{reviewer.username}}
            {{title}}
            {{body}}
        </li>

        {{/userReviews}}
        </ul>

        
    </body>
</html>