<html>
    <head>
    </head>
    
    <body>
        <a href="/">Home<a>
        <a href="/user/dashboard">Profile</a>
        <br />
        <a href="/login">Login</a>
        
        <h1>User Dashboard<h1>
        <a href="/user/dashboard/reviews"> Your Reviews </a>
        <h2>Add a Listing<h2>
        <form method="POST" action="/user/add-listing">
            <input type="text" placeholder="Title" name="titleText" />
            <input type="text" placeholder="Description" name="descriptionText" />
            <input type="text" placeholder="Price" name="priceText" />
            <select name="categoryText">
                <option value="">Select Category</option>
                <option value="cameras">Digital Cameras</option>
                <option value="lenses">Lenses</option>
                <option value="drones">Drones</option>
                <option value="lighting">Lighting Equipment</option>
                <option value="accessories">Accessories</option>
                <option value="books">Books & Tutorials</option>
            </select>
            <button>Add Listing</button>
        </form>
        <h2>Your Listings<h2>

        {{#userListings}}
            <p>{{title}}</p>
            <p>Description: {{description}}</p>
            <p>${{price}}</p>
            <p>Category: {{category}}</p>

            <form method="POST" action="/user/listing/delete/{{id}}">
                 <button>Delete</button>
            </form>
            
        {{/userListings}}



        
    </body>
</html>