* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #030e12;
    overflow-x: hidden;
    background-color: #C6C1C0;
  }



/* All: Footer */
.footer {
    background-color: #363a38;
    color: #ffffff;
    font-size: 10px;
    padding: 48px;
    margin: 0px;
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10px;
}

.footer a:hover {
    color: #F8B053;
}

.footer-subscribe {
    font-size: 12px;
    color: #FFFFFF;
    width: 75%;
}

.subscribeBtn {
    background: #F7CE3E;
    border: 0px;
    color: #000000;
    font-size: 16px;
    margin-left: 7px;
    padding: 5px 10px;
    border-radius: 4px;
}

.subscribeBtn:hover {
    background-color: #004d64;
}


.footer-social {
    background-color: #1A2930;
    color: #F7CE3E;
    margin: 0px;
    padding: 0px;

}

.footer-social a {
    color: #F7CE3E;
}

.footer-social a:hover {
    color: #004d64;
}

/* Mobile */
.mobile {
    display: none;
}

/* Navbar */

.navbar {
    background-color: #1A2930;
}

/* Categories */

.row h4{
    background-color: #363a3886;
    width:100%;
    text-align: center;
}

.viewAll{
    background-color:#363a38;
    color:white
}

.viewAll:hover{
    background-color: #1A2930;
}